
.jumbotron
  .container
    %h1 Pan Pal!
    %p The one stop shop for Pandemic fun! - Welcome to our website, here you can keep up to date with the latest Covid statistics! Play covid related games and join our community. See what others are doing to keep themselves busy over lockdown!
    %p
      %a.btn.btn-primary.btn-lg{href: "about", role: "button"} Learn more »
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Covid News API 1
      :javascript
        const endpoint = {
            url: 'https://covid-api.mmediagroup.fr/v1/cases?country=Global',
                };


                const MMediaURL = `${endpoint.url}`
                console.log(MMediaURL)

                fetch(MMediaURL)
                    .then((data) => data.json())
                    .then((covidData) => generateHTML(covidData))

                const generateHTML = (data) => {
                    console.log(data)

                    const html = `
                        <div class = "population" > Population: ${data.All.population}</div >
                        <div class = "globalCases"> Total Global Cases: ${data.All.confirmed}</div>
                        <div class = "globalRecovered"> Total Global Recovered Cases: ${data.All.confirmed}</div>
                    `

                    const covidDataDiv = document.querySelector('.MMediacovidData')
                    covidDataDiv.innerHTML = html

                }
      .MMediacovidData
      %a.btn.btn-default{href: "#", role: "button"} View details »
    .col-md-4
      %h2 Covid News API 2
      %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla bla
      %p
        %a.btn.btn-default{href: "#", role: "button"} View details »
    .col-md-4
      %h2 Current  high scores!
      %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla bla
      %p
        %a.btn.btn-default{href: "#", role: "button"} View details »
.container
  %footer
    %p.pull-right
      %a{:href => "#"} Back to top
      %p
      \© 2020 Pan Pal Inc. ·
/ /container
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{crossorigin: "anonymous", integrity: "sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ", src: "https://code.jquery.com/jquery-1.12.4.min.js"}
:javascript
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
%script{src: "../../dist/js/bootstrap.min.js"}
/ IE10 viewport hack for Surface/desktop Windows 8 bug
%script{src: "../../assets/js/ie10-viewport-bug-workaround.js"}
