%body
  .container-fluid
    %title= t('.page_title')
    %h2= t('.game_title')
    %p= t('.game_desc')
    %p= t('.game_desc2')
    .form
      %label{:for => "guessField"}
        ="Guess:"
      %input#guessField.guessField{:type => "text"}/
      %input#submitguess.guessSubmit{:type => "submit", :value => "Submit guess"}/
      <button onClick="window.location.reload();">Play again</button>
    %body{:onload => "test()"}
