<<<<<<< Updated upstream
<h1>
  Editing room <%= @room.name %>
</h1>

<%= render partial: 'form' %>
=======
<h1>
  Editing room <%= @room.name %>
</h1>

<%= render partial: 'form' %>
>>>>>>> Stashed changes
